body{
    background: linear-gradient(rgb(228, 228, 145), rgb(142, 228, 142) );

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

img{ 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 300px;                  /* Largura do elemento */
  height: 300px;                 /* Altura do elemento */
  border-radius: 20px; 

    display: block;
  margin-left: auto;
  margin-right: auto;    
}
}

/* Centraliza, aumenta e melhora o espaçamento do texto do seu Top 10 */
p {
    text-align: center;
    font-size: 22px;
    line-height: 1.6;
    max-width: 800px; /* Evita que a linha fique excessivamente larga em telas grandes */
    margin: 0 auto 15px auto; /* Centraliza o bloco do parágrafo na tela */
}

 h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 22px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 15px auto;
}

h3{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}